* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 30px;
}
 .logo img {
    height: 45px;
    width: auto;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.menu-icon {
    display: none;
    font-size: 28px;
    color: rgb(239, 234, 234);
    cursor: pointer;
}
#menu-toggle {
    display: none;
}
@media (max-width: 500px) {

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #222;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .nav-links li {
        padding: 15px 0;
    }

    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}
